
<div *ngIf="subject">
    <h2><span jhiTranslate="timetableApp.subject.detail.title">Subject</span> {{subject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timetableApp.subject.name">Name</span></dt>
        <dd>
            <span>{{subject.name}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.subject.shortName">Short Name</span></dt>
        <dd>
            <span>{{subject.shortName}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.subject.colorBackground">Color Background</span></dt>
        <dd>
            <span>{{subject.colorBackground}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.subject.colorText">Color Text</span></dt>
        <dd>
            <span>{{subject.colorText}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.subject.divisionOwner">Division owner</span></dt>
        <dd>
            <div *ngIf="subject.divisionOwnerId">
                <a [routerLink]="['/division', subject.divisionOwnerId]">{{subject.divisionOwnerName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/edit'} }]"
            replaceUrl="true"
            class="btn app-primary-button">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
