<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <jhi-glass contentClass="edit-entity-card">
        <div class="modal-header">
            <h4 class="modal-title" id="mySubjectLabel" jhiTranslate="timetableApp.subject.home.createOrEditLabel">Create or edit a Subject</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;
            </button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" [hidden]="!subject.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="subject.id" readonly/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.subject.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="subject.name" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.subject.shortName" for="field_shortName">Short Name</label>
                <input type="text" class="form-control" name="shortName" id="field_shortName"
                       [(ngModel)]="subject.shortName"/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.subject.colorBackground" for="field_colorBackground">Color Background</label>
                <input type="text" class="form-control" name="colorBackground" id="field_colorBackground"
                       [(ngModel)]="subject.colorBackground"/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.subject.colorText" for="field_colorText">Color Text</label>
                <input type="text" class="form-control" name="colorText" id="field_colorText"
                       [(ngModel)]="subject.colorText"/>
            </div>

            <div class="form-group">
                <label jhiTranslate="timetableApp.subject.divisionOwner" for="field_division">Division</label>
                <select class="form-control" id="field_division" name="divisionOwner" [(ngModel)]="subject.divisionOwnerId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="divisionOption.id" *ngFor="let divisionOption of divisions; trackBy: trackDivisionById">{{divisionOption.name}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn app-primary-button">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </jhi-glass>
</form>
