<div>
    <h2>
        <span jhiTranslate="timetableApp.subject.home.title">Subjects</span>
        <button class="btn btn-primary float-right jh-create-entity create-subject" [routerLink]="['/', { outlets: { popup: ['subject-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="timetableApp.subject.home.createLabel">
            Create new Subject
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subjects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="timetableApp.subject.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shortName"><span jhiTranslate="timetableApp.subject.shortName">Short Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colorBackground"><span jhiTranslate="timetableApp.subject.colorBackground">Color Background</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colorText"><span jhiTranslate="timetableApp.subject.colorText">Color Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="divisionOwnerName"><span jhiTranslate="timetableApp.subject.divisionOwner">Division owner</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subject of subjects ;trackBy: trackId">
                <td><a [routerLink]="['../subject', subject.id ]">{{subject.id}}</a></td>
                <td>{{subject.name}}</td>
                <td>{{subject.shortName}}</td>
                <td>{{subject.colorBackground}}</td>
                <td>{{subject.colorText}}</td>
                <td>
                    <div *ngIf="subject.divisionOwnerId">
                        <a [routerLink]="['../divisionOwner', subject.divisionOwnerId  ]" >{{subject.divisionOwnerName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subject', subject.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="subjects && subjects.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
