
<div *ngIf="properties">
    <h2><span jhiTranslate="timetableApp.properties.detail.title">Properties</span> {{properties.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timetableApp.properties.propertyKey">Property Key</span></dt>
        <dd>
            <span>{{properties.propertyKey}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.properties.propertyValue">Property Value</span></dt>
        <dd>
            <span>{{properties.propertyValue}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.properties.division">Division</span></dt>
        <dd>
            <div *ngIf="properties.divisionId">
                <a [routerLink]="['/division', properties.divisionId]">{{properties.divisionName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'properties/'+ properties.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
