
<div *ngIf="curriculumList">
    <h2><span jhiTranslate="timetableApp.curriculum-list.detail.title">CurriculumList</span> {{curriculumList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timetableApp.curriculum-list.name">Name</span></dt>
        <dd>
            <span>{{curriculumList.name}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.curriculum-list.divisionOwner">Division owner</span></dt>
        <dd>
            <div *ngIf="curriculumList.divisionOwnerId">
                <a [routerLink]="['/division', curriculumList.divisionOwnerId]">{{curriculumList.divisionOwnerName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'curriculumList/'+ curriculumList.id + '/edit'} }]"
            replaceUrl="true"
            class="btn app-primary-button">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
