<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <jhi-glass contentClass="edit-entity-card">
        <div class="modal-header">
            <h4 class="modal-title" id="myCurriculumListLabel" jhiTranslate="timetableApp.curriculum-list.home.createOrEditLabel">Create or edit a CurriculumList</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;
            </button>
        </div>

        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>

            <div class="form-group">
                <label jhiTranslate="timetableApp.curriculum-list.divisionOwner" for="field_division">Division</label>
                <select class="form-control" id="field_division" name="divisionOwner" [(ngModel)]="curriculumList.divisionOwnerId">
                    <option [ngValue]="divisionOption.id" *ngFor="let divisionOption of divisions; trackBy: trackDivisionById">{{divisionOption.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <div class='row'>
                    <div class='col-md-6'>
                        <label class="form-control-label" jhiTranslate="timetableApp.curriculum-list.name" for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="curriculumList.name" required/>
                    </div>
                    <div class='col-md-6'>
                        <label jhiTranslate="timetableApp.curriculum-list.period" for="field_period">Period</label>
                        <jhi-angular2-multiselect [data]="periodSelectOption" [(ngModel)]="selectedPeriod" [settings]="periodSelectSettings"
                                                  styleClass="edit-entity-card-select" id="field_period" name="selectedPeriod" #type="ngModel" required [blur]="false" (onSelect)="onPeriodSelect($event)" (onDeSelect)="onPeriodDeSelect()">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class='row'>
                    <div class='col-md-12'>
                        <label jhiTranslate="timetableApp.curriculum-list.curriculum-list" for="field_curriculum-list">Curriculum List</label>
                        <jhi-angular2-multiselect [data]="curriculumSelectOption" [(ngModel)]="selectedCurriculum" [settings]="curriculumSelectSettings"
                                                  styleClass="edit-entity-card-select" id="field_curriculum-list" name="selectedCurriculum" #type="ngModel" required [blur]="false"">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn app-primary-button">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </jhi-glass>
</form>


