<ng-template #popContent>
    <div class="blur-background"></div>
    <div class="glass-content">
        <div class='popover-title' [ngStyle]="getColorStyle()">
            <label jhiTranslate="timetableApp.EventType.{{timetable.type}}">{{timetable.type}}</label>
            <button *ngIf="canModifyTimetable()" [routerLink]="['/', { outlets: { popup: 'timetable/'+ timetable.id + '/delete'} }]" replaceUrl="true">
                <span class="fa fa-trash"></span>
            </button>
            <button *ngIf="canModifyTimetable()" [routerLink]="['/', { outlets: { popup: 'timetable/'+ timetable.id + '/edit'} }]" replaceUrl="true">
                <span class="fa fa-pencil"></span>
            </button>
        </div>
        <div class="form-group popover-content">
            <div>
                <div class='row'>
                    <label class='col-md-6' jhiTranslate="timetableApp.timetable.teacher"> Teacher</label>
                    <label class='col-md-6' jhiTranslate="timetableApp.timetable.place"> Place</label>
                </div>
                <div class='row'>
                    <p class='col-md-6'> {{timetable.teacherFullName}} </p>
                    <p class='col-md-6'> {{timetable.placeName}} </p>
                </div>
                <div class='row'>
                    <label *ngIf="timetable.type == EventType.SPECIAL" class='col-md-6' jhiTranslate="timetableApp.timetable.title">Title</label>
                    <label *ngIf="timetable.type != EventType.SPECIAL" class='col-md-6' jhiTranslate="timetableApp.timetable.subject"> Subject</label>
                    <label class='col-md-6' jhiTranslate="timetableApp.timetable.division"> Division</label>
                </div>
                <div class='row'>
                    <p *ngIf="timetable.type == EventType.SPECIAL" class='col-md-6'> {{timetable.title}}</p>
                    <p *ngIf="timetable.type != EventType.SPECIAL" class='col-md-6'> {{timetable.subjectName}}</p>
                    <p class='col-md-6'> {{timetable.divisionName}} </p>
                </div>
            </div>
            <div class='row'>
                <label class='col-md-6' jhiTranslate="timetableApp.timetable.time">Time</label>
                <label class='col-md-6' jhiTranslate="timetableApp.timetable.date">Date</label>
            </div>
            <div class='row'>
                <p class='col-md-6'> {{timetable.startTime.getFormatted()}} - {{timetable.endTime.getFormatted()}}</p>
                <p class='col-md-6'> {{timetableDate | date:'dd-MM-yyyy'}}</p>
            </div>
            <div class='row' *ngIf="timetable.description">
                <label class='col-md-12' jhiTranslate="timetableApp.timetable.description">Description</label>
                <p class='col-md-12'> {{timetable.description}} </p>
            </div>
        </div>
    </div>

</ng-template>


<a class="event" [ngStyle]="getColorStyle()" [ngbPopover]="popContent" #popoverRef="ngbPopover" (click)="setCurrentPopoverOpen(popoverRef)">
    {{timetable.subjectShortName}} ({{timetable.placeShortName ? timetable.placeShortName : timetable.placeName}})
</a>
