
<div *ngIf="property">
    <h2><span jhiTranslate="timetableApp.property.detail.title">Properties</span> {{property.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timetableApp.property.propertyKey">Property Key</span></dt>
        <dd>
            <span>{{property.propertyKey}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.property.propertyValue">Property Value</span></dt>
        <dd>
            <span>{{property.propertyValue}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.property.divisionOwner">Division owner</span></dt>
        <dd>
            <div *ngIf="property.divisionOwnerId">
                <a [routerLink]="['/division', property.divisionOwnerId]">{{property.divisionOwnerName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'property/'+ property.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
