<div>
    <h2>
        <span jhiTranslate="timetableApp.division.home.title">Divisions</span>
        <button class="btn app-primary-button float-right jh-create-entity create-division" [routerLink]="['/', { outlets: { popup: ['division-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="timetableApp.division.home.createLabel">
            Create new Division
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="divisions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="timetableApp.division.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shortName"><span jhiTranslate="timetableApp.division.shortName">Short Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numberOfPeople"><span jhiTranslate="timetableApp.division.numberOfPeople">Number Of People</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="divisionType"><span jhiTranslate="timetableApp.division.divisionType">Division Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colorBackground"><span jhiTranslate="timetableApp.division.colorBackground">Color Background</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colorText"><span jhiTranslate="timetableApp.division.colorText">Color Text</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let division of divisions ;trackBy: trackId">
                <td><a [routerLink]="['../division', division.id ]">{{division.id}}</a></td>
                <td>{{division.name}}</td>
                <td>{{division.shortName}}</td>
                <td>{{division.numberOfPeople}}</td>
                <td jhiTranslate="{{'timetableApp.DivisionType.' + division.divisionType}}">{{division.divisionType}}</td>
                <td>{{division.colorBackground}}</td>
                <td>{{division.colorText}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../division', division.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'division/'+ division.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'division/'+ division.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="divisions && divisions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
