<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <jhi-glass contentClass="edit-entity-card">
        <div class="modal-header">
            <h4 class="modal-title" id="myDivisionLabel" jhiTranslate="timetableApp.division.home.createOrEditLabel">Create or edit a Division</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;
            </button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" [hidden]="!division.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="division.id" readonly/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.division.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="division.name" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.division.shortName" for="field_shortName">Short Name</label>
                <input type="text" class="form-control" name="shortName" id="field_shortName"
                       [(ngModel)]="division.shortName"/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.division.numberOfPeople" for="field_numberOfPeople">Number Of People</label>
                <input type="number" class="form-control" name="numberOfPeople" id="field_numberOfPeople"
                       [(ngModel)]="division.numberOfPeople"/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.division.divisionType" for="field_divisionType">Division Type</label>
                <select class="form-control" name="divisionType" [(ngModel)]="division.divisionType" id="field_divisionType" required>
                    <option value="SCHOOL">{{'timetableApp.DivisionType.SCHOOL' | translate}}</option>
                    <option value="CLASS">{{'timetableApp.DivisionType.CLASS' | translate}}</option>
                    <option value="SUBGROUP">{{'timetableApp.DivisionType.SUBGROUP' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.divisionType?.dirty && editForm.controls.divisionType?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.divisionType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.division.colorBackground" for="field_colorBackground">Color Background</label>
                <input type="text" class="form-control" name="colorBackground" id="field_colorBackground"
                       [value]="division.colorBackground" [(colorPicker)]="division.colorBackground" [style.background]="division.colorBackground" [cpOutputFormat]="'rgba'"
                       [cpAlphaChannel]="'disabled'" (colorPickerChange)="division.colorBackground = $event" readonly/>
            </div>

            <div class="form-group">
                <label jhiTranslate="timetableApp.division.parent" for="field_parent">Parent</label>
                <select class="form-control" id="field_parent" multiple name="parent" [(ngModel)]="division.parents">
                    <option [ngValue]="getSelected(division.parents, divisionOption)" *ngFor="let divisionOption of divisions; trackBy: trackDivisionById">{{divisionOption.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label jhiTranslate="timetableApp.division.user" for="field_user">User</label>
                <select class="form-control" id="field_user" multiple name="user" [(ngModel)]="division.users">
                    <option [ngValue]="getSelected(division.users, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                </select>
            </div>

            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span class="fa fa-angle-down"></span><span jhiTranslate="timetableApp.preference.preferredTeachers">Preferred teachers</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th jhiTranslate="timetableApp.teacher.main">Teacher</th>
                                <th jhiTranslate="timetableApp.preference.preference">Preference</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let preference of division.preferencesTeacherByDivision">
                                <td>{{preference.teacherFullName}}</td>
                                <td>
                                    <select class="form-control" name="preference_{{preference.teacherId}}{{preference.divisionId}}" [(ngModel)]="preference.points">
                                        <option *ngFor="let selectType of preferenceSelectTypes" [ngValue]="selectType.value" jhiTranslate="{{selectType.itemTranslate}}">{{selectType.value}}</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-panel>
                <br>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span class="fa fa-angle-down"></span><span jhiTranslate="timetableApp.preference.preferredSubjects">Preferred subjects</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th jhiTranslate="timetableApp.subject.main">Subject</th>
                                <th jhiTranslate="timetableApp.preference.preference">Preference</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let preference of division.preferencesSubjectByDivision">
                                <td>{{preference.subjectName}}</td>
                                <td>
                                    <select class="form-control" name="preference_{{preference.subjectId}}{{preference.divisionId}}" [(ngModel)]="preference.points">
                                        <option *ngFor="let selectType of preferenceSelectTypes" [ngValue]="selectType.value" jhiTranslate="{{selectType.itemTranslate}}">{{selectType.value}}</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-panel>
                <br>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span class="fa fa-angle-down"></span><span jhiTranslate="timetableApp.preference.preferredPlaces">Preferred places</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th jhiTranslate="timetableApp.place.main">Place</th>
                                <th jhiTranslate="timetableApp.preference.preference">Preference</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let preference of division.preferenceDivisionByPlace">
                                <td>{{preference.placeName}}</td>
                                <td>
                                    <select class="form-control" name="preference_{{preference.divisionId}}{{preference.placeId}}" [(ngModel)]="preference.points">
                                        <option *ngFor="let selectType of preferenceSelectTypes" [ngValue]="selectType.value" jhiTranslate="{{selectType.itemTranslate}}">{{selectType.value}}</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-panel>
                <br>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span class="fa fa-angle-down"></span><span jhiTranslate="timetableApp.preference.preferenceLessonAndDate">Preference lesson and date </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <jhi-preference-data-time-by-lesson [preferenceDataTime]="division.preferencesDataTimeForDivision"></jhi-preference-data-time-by-lesson>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn app-primary-button">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </jhi-glass>
</form>
