<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <jhi-glass *ngIf="currentLoadCounter >= numberOfLoad" contentClass="edit-entity-card">
        <div class="modal-header">
            <h4 class="modal-title" id="myTimetableLabel" jhiTranslate="timetableApp.timetable.home.createOrEditLabel">Create or edit a Timetable</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;
            </button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>

            <div class="form-group">
                <div class='row'>
                    <div class='col-md-12'>
                        <label jhiTranslate="timetableApp.DivisionType.SCHOOL" for="field_school">School</label>
                        <jhi-angular2-multiselect [data]="schoolSelectOption" [(ngModel)]="selectedSchool" [settings]="schoolSelectSettings"
                                                  styleClass="edit-entity-card-select" name="selectedSchool" #type="ngModel" required [blur]="false"
                                                  (onSelect)="onSchoolSelect($event)" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.timetable.type" for="field_type">Type</label>
                <div style="clear: both"></div>
                <jhi-angular2-multiselect [data]="eventTypeSelectOption" [(ngModel)]="selectedEventType" [settings]="eventTypeSelectSettings"
                                          styleClass="edit-entity-card-select" name="selectedEventType" #type="ngModel" required [blur]="false"
                                            (onSelect)="onEventTypeSelect($event)" (onDeSelect)="onEventTypeDeSelect($event)">
            </div>
            <!--<div class="form-group">-->
            <!--<div class='row'>-->
            <!--<div class='col-md-6'>-->
            <!--<label class="col-md-6 form-control-label" jhiTranslate="timetableApp.timetable.title" for="field_title">Title</label>-->
            <!--<input type="text" class="form-control" name="title" id="field_title"-->
            <!--[(ngModel)]="timetable.title" required/>-->
            <!--<div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">-->
            <!--<small class="form-text text-danger"-->
            <!--[hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">-->
            <!--This field is required.-->
            <!--</small>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class='col-md-6'>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->


            <div class="form-group">
                <div class='row'>
                    <div class='col-md-6'>
                        <label jhiTranslate="timetableApp.timetable.place" for="field_place">Place</label>
                        <jhi-angular2-multiselect [data]="placeSelectOption" [(ngModel)]="selectedPlace" [settings]="placeSelectSettings"
                                                  styleClass="edit-entity-card-select" name="selectedPlace" #type="ngModel" required [blur]="false" [preferenceHierarchy]="true"
                                                  (onSelect)="onPlaceSelect($event)" (onDeSelect)="onPlaceDeSelect()">
                    </div>
                    <div class='col-md-6'>
                        <label jhiTranslate="timetableApp.timetable.subject" for="field_subject">Subject</label>
                        <jhi-angular2-multiselect [data]="subjectSelectOption" [(ngModel)]="selectedSubject" [settings]="subjectSelectSettings"
                                                  styleClass="edit-entity-card-select" name="selectedSubject" #type="ngModel" required [blur]="false" [preferenceHierarchy]="true"
                                                  (onSelect)="onSubjectSelect($event)" (onDeSelect)="onSubjectDeSelect()">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class='row'>
                    <div class='col-md-6'>
                        <label jhiTranslate="timetableApp.timetable.teacher" for="field_teacher">Teacher</label>
                        <jhi-angular2-multiselect [data]="teacherSelectOption" [(ngModel)]="selectedTeacher" [settings]="teacherSelectSettings"
                                                  styleClass="edit-entity-card-select" name="selectedTeacher" #type="ngModel" required [blur]="false" [preferenceHierarchy]="true"
                                                  (onSelect)="onTeacherSelect($event)" (onDeSelect)="onTeacherDeSelect()">
                    </div>
                    <div class='col-md-6'>
                        <label jhiTranslate="timetableApp.timetable.division" for="field_division">Division</label>
                        <jhi-angular2-multiselect [data]="divisionSelectOption" [(ngModel)]="selectedDivision" [settings]="divisionSelectSettings"
                                                  styleClass="edit-entity-card-select" name="selectedDivision" #type="ngModel" required [blur]="false" [preferenceHierarchy]="true"
                                                  (onSelect)="onDivisionSelect($event)" (onDeSelect)="onDivisionDeSelect()">
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="!timetable.series">
                <div class='row'>
                    <div class='col-md-6'>
                        <label jhiTranslate="timetableApp.timetable.lesson" for="field_lesson">Lesson</label>
                        <jhi-angular2-multiselect [data]="lessonSelectOption" [(ngModel)]="selectedLesson" [settings]="lessonSelectSettings"
                                                  styleClass="edit-entity-card-select" name="selectedLesson" #type="ngModel" required [blur]="false" [preferenceHierarchy]="true"
                                                  (onSelect)="onLessonSelect($event)" (onDeSelect)="onLessonDeSelect()">
                    </div>
                    <div class='col-md-3'>
                        <label class="form-control-label" jhiTranslate="timetableApp.timetable.startTime" for="field_start_time">Start Time</label>
                        <ngb-timepicker required="!timetable.lessonId" name="field_start_time" id="field_start_time" [(ngModel)]="timetable.startTime" [spinners]="false" [readonlyInputs]="timetable.lessonId"></ngb-timepicker>
                    </div>
                    <div class='col-md-3'>
                        <label class="form-control-label" jhiTranslate="timetableApp.timetable.endTime" for="field_end_time">End Time</label>
                        <ngb-timepicker required="!timetable.lessonId" name="field_end_time" id="field_end_time" [(ngModel)]="timetable.endTime" [spinners]="false" [readonlyInputs]="timetable.lessonId"></ngb-timepicker>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="!timetable.series">
                <div class='row'>
                    <div class='col-md-6'>
                        <label class="form-control-label" jhiTranslate="timetableApp.timetable.date" for="field_date">Date</label>
                        <div class="input-group">
                            <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" [(ngModel)]="timetable.date" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class='row'>
                    <div class='col-md-12'>
                        <label class="form-control-label" jhiTranslate="timetableApp.timetable.description" for="field_description">Description</label>
                        <textarea type="text" class="form-control" name="description" id="field_description" [(ngModel)]="timetable.description"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="pure-checkbox">
                    <input type="checkbox" (change)="changeSeries()" class="form-control" name="series" id="field_series" [(ngModel)]="timetable.series"/>
                    <label class="form-control-label" jhiTranslate="timetableApp.timetable.series" for="field_series">Series</label>
                </div>
            </div>

            <div *ngIf="timetable.series">

                <div class="form-group">
                    <div class='row'>
                        <div class='col-md-12'>
                            <label jhiTranslate="timetableApp.timetable.period" for="field_period">Period</label>
                            <jhi-angular2-multiselect [data]="periodSelectOption" [(ngModel)]="selectedPeriod" [settings]="periodSelectSettings"
                                                      styleClass="edit-entity-card-select" id="field_period" name="selectedPeriod" #type="ngModel" required [blur]="false" (onSelect)="onPeriodSelect($event)" (onDeSelect)="onPeriodDeSelect()">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class='row'>
                        <div class='col-md-12'>
                            <label jhiTranslate="timetableApp.timetable.dayOfWeekAndLesson" for="field_dayOfWeekAndLesson">Day of week and Lesson</label>
                            <jhi-angular2-multiselect [data]="dayOfWeekAndLessonSelectOption" [(ngModel)]="selectedDayOfWeekAndLesson" [settings]="dayOfWeekAndLessonSelectSettings" [preferenceHierarchy]="true"
                                                      styleClass="edit-entity-card-select" id="field_dayOfWeekAndLesson" name="selectedDayOfWeekAndLesson" #type="ngModel" required [blur]="false" (onSelect)="onDayOfWeekAndLessonSelect($event)" (onDeSelect)="onDayOfWeekAndLessonDeSelect()">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class='row'>
                        <div class='col-md-6'>
                            <label class="form-control-label" jhiTranslate="timetableApp.timetable.day-of-week" for="field_type">Day of week</label>
                            <jhi-angular2-multiselect [data]="dayOfWeekSelectOption" [(ngModel)]="selectedDayOfWeek" [settings]="dayOfWeekSelectSettings"
                                                      styleClass="edit-entity-card-select" name="selectedDayOfWeek" #type="ngModel" required [blur]="false"
                                                      (onSelect)="onDayOfWeekSelect($event)" (onDeSelect)="onDayOfWeekDeSelect($event)">
                        </div>
                        <div class='col-md-6'>
                            <label jhiTranslate="timetableApp.timetable.lesson" for="field_lesson">Lesson</label>
                            <jhi-angular2-multiselect [data]="lessonSelectOption" [(ngModel)]="selectedLesson" [settings]="lessonSelectSettings"
                                                      styleClass="edit-entity-card-select" name="selectedLesson" #type="ngModel" required [blur]="false" [preferenceHierarchy]="true"
                                                      (onSelect)="onLessonSelect($event)" (onDeSelect)="onLessonDeSelect()">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class='row'>
                        <div class='col-md-6'> </div>
                        <div class='col-md-3'>
                            <label class="form-control-label" jhiTranslate="timetableApp.timetable.startTime" for="field_start_time">Start Time</label>
                            <ngb-timepicker required="!timetable.lessonId" name="field_start_time" id="field_start_time" [(ngModel)]="timetable.startTime" [spinners]="false" [readonlyInputs]="timetable.lessonId"></ngb-timepicker>
                        </div>
                        <div class='col-md-3'>
                            <label class="form-control-label" jhiTranslate="timetableApp.timetable.endTime" for="field_end_time">End Time</label>
                            <ngb-timepicker required="!timetable.lessonId" name="field_end_time" id="field_end_time" [(ngModel)]="timetable.endTime" [spinners]="false" [readonlyInputs]="timetable.lessonId"></ngb-timepicker>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class='row'>
                        <div class='col-md-6'>
                            <label class="form-control-label" jhiTranslate="timetableApp.timetable.everyWeek" for="field_everyWeek">Every Week</label>
                            <input type="number" class="form-control" name="everyWeek" id="field_everyWeek" [(ngModel)]="timetable.everyWeek" (input)="changePreference()" />
                        </div>
                        <div class='col-md-6'>
                            <label class="form-control-label" jhiTranslate="timetableApp.timetable.startWithWeek" for="field_startWithWeek">Start With Week</label>
                            <input type="number" class="form-control" name="startWithWeek" id="field_startWithWeek" [(ngModel)]="timetable.startWithWeek" (input)="changePreference()" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn app-primary-button">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>

    </jhi-glass>
</form>
