<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div [ngClass]="{'container-fluid': !fullPage}">

    <router-outlet name="popup"></router-outlet>

    <div *ngIf="fullPage; then fullPageTemplate else glassPageTemplate"></div>

    <ng-template #fullPageTemplate>
        <router-outlet></router-outlet>
    </ng-template>

    <ng-template #glassPageTemplate>
        <div *ngIf="lightView; then lightGlass else darkGlass"></div>
        <ng-template #darkGlass>
            <jhi-glass>
                <div class='card jh-card'>
                    <router-outlet></router-outlet>
                </div>
            </jhi-glass>
        </ng-template>

        <ng-template #lightGlass>
            <jhi-glass contentClass="light-view">
                <div class='card jh-card'>
                    <router-outlet></router-outlet>
                </div>
            </jhi-glass>
        </ng-template>

    </ng-template>

    <jhi-footer></jhi-footer>

</div>
