<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <jhi-glass contentClass="edit-entity-card">
        <div class="modal-header">
            <h4 class="modal-title" id="myTeacherLabel" jhiTranslate="timetableApp.teacher.home.createOrEditLabel">Create or edit a Teacher</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;
            </button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" [hidden]="!teacher.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="teacher.id" readonly/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.teacher.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="teacher.name" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.teacher.surname" for="field_surname">Surname</label>
                <input type="text" class="form-control" name="surname" id="field_surname"
                       [(ngModel)]="teacher.surname" required/>
                <div [hidden]="!(editForm.controls.surname?.dirty && editForm.controls.surname?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.surname?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.teacher.degree" for="field_degree">Degree</label>
                <input type="text" class="form-control" name="degree" id="field_degree"
                       [(ngModel)]="teacher.degree"/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="timetableApp.teacher.shortName" for="field_shortName">Short Name</label>
                <input type="text" class="form-control" name="shortName" id="field_shortName"
                       [(ngModel)]="teacher.shortName"/>
            </div>

            <div class="form-group">
                <label jhiTranslate="timetableApp.teacher.divisionOwner" for="field_division">Division</label>
                <select class="form-control" id="field_division" name="divisionOwner" [(ngModel)]="teacher.divisionOwnerId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="divisionOption.id" *ngFor="let divisionOption of divisions; trackBy: trackDivisionById">{{divisionOption.name}}</option>
                </select>
            </div>


            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span class="fa fa-angle-down"></span><span jhiTranslate="timetableApp.preference.preferredSubjects">Preferred subjects</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th jhiTranslate="timetableApp.subject.main">Subject</th>
                                <th jhiTranslate="timetableApp.preference.preference">Preference</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let preferenceSubjectByTeacher of teacher.preferenceSubjectByTeacher">
                                <td>{{preferenceSubjectByTeacher.subjectName}}</td>
                                <td>
                                    <select class="form-control" name="preference_{{preferenceSubjectByTeacher.subjectId}}{{preferenceSubjectByTeacher.teacherId}}" [(ngModel)]="preferenceSubjectByTeacher.points">
                                        <option *ngFor="let selectType of preferenceSelectTypes" [ngValue]="selectType.value" jhiTranslate="{{selectType.itemTranslate}}">{{selectType.value}}</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-panel>
                <br>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span class="fa fa-angle-down"></span><span jhiTranslate="timetableApp.preference.preferenceLessonAndDate">Preference lesson and date </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <jhi-preference-data-time-by-lesson [preferenceByLessonList]="preferenceByLessonList"></jhi-preference-data-time-by-lesson>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn app-primary-button">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </jhi-glass>
</form>
