<div class="home-view-body">

    <div class="home-container">
        <div class="home-blur-background"></div>
        <div class="home-header">
            <h1 class="display-4" jhiTranslate="home.title">Welcome to Patres Timetable</h1>
        </div>
    </div>

    <div class="sign-elements">
        <div class="sign-element-container">
            <div class="element-blur-background"></div>
            <a class="alert-link" (click)="login()" jhiTranslate="home.sign-in">Sign in</a>
        </div>
        <div class="register-element-container">
            <div class="element-blur-background"></div>
            <a class="alert-link" routerLink="register" jhiTranslate="home.register">Register</a>
        </div>
    </div>

    <div style="clear: both;"></div>
</div>
