<div class="home-view-body">

    <jhi-glass contentClass="home-container">
        <h1 class="display-3" jhiTranslate="home.title">Welcome to Patres Timetable</h1>
    </jhi-glass>


    <div class="sign-elements">
        <jhi-glass contentClass="sign-element-container">
            <button class="glass-button" (click)="login()" jhiTranslate="home.sign-in">Sign in</button>
        </jhi-glass>

        <jhi-glass contentClass="register-element-container">
            <button class="glass-button" routerLink="register" jhiTranslate="home.register">Register</button>
        </jhi-glass>
    </div>

    <div style="clear: both;"></div>

</div>
