<div class="home-view-body">

    <glass contentClass="home-container">
        <h1 class="display-3" jhiTranslate="home.title">Welcome to Patres Timetable</h1>
    </glass>


    <div class="sign-elements">
        <glass contentClass="sign-element-container">
            <button class="glass-button" (click)="login()" jhiTranslate="home.sign-in">Sign in</button>
        </glass>

        <glass contentClass="register-element-container">
            <button class="glass-button" routerLink="register" jhiTranslate="home.register">Register</button>
        </glass>
    </div>

    <div style="clear: both;"></div>

</div>
