<div>
    <h2>
        <span>Plan</span>
    </h2>
    <jhi-alert></jhi-alert>

    <div class="form-group">
        <div class="container">
            <div class="row plan-row-choose">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <label jhiTranslate="timetableApp.division.type.SCHOOL"></label>
                    <angular2-multiselect [data]="schoolSelectOption" [(ngModel)]="selectedSchool" [settings]="schoolSelectSettings"
                                          (onSelect)="onSchoolSelect($event)"
                                          (onDeSelect)="OnSchoolDeSelect($event)">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label jhiTranslate="timetableApp.division.type.CLASS"></label>
                    <angular2-multiselect [data]="classSelectOption" [(ngModel)]="selectedClass" [settings]="classSelectSettings"
                                          (onSelect)="onClassSelect($event)"
                                          (onDeSelect)="OnClassDeSelect($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-1"></div>
            </div>


            <div class="row plan-row-choose">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <label jhiTranslate="timetableApp.division.type.SUBGROUP"></label>
                    <angular2-multiselect [data]="subgroupSelectOption" [(ngModel)]="selectedSubgroup" [settings]="subgroupSelectSettings"
                                          (onSelect)="onSubgroupSelect($event)"
                                          (onDeSelect)="OnSubgroupDeSelect($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label jhiTranslate="timetableApp.plan.type-plan"></label>
                    <angular2-multiselect [data]="typePlanSelectOption" [(ngModel)]="selectedTypePlan" [settings]="typePlanSelectSettings"
                                          (onSelect)="onTypePlanSelect($event)"
                                          >
                    </angular2-multiselect>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div>

</div>
