<div class="plan-view-body">

    <jhi-alert></jhi-alert>

    <div class="form-group">
        <div class="container plan-selectors">
            <div class="row plan-row-choose">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <label class="select-label" jhiTranslate="timetableApp.DivisionType.SCHOOL"></label>
                    <jhi-angular2-multiselect [data]="schoolSelectOption" [(ngModel)]="selectedSchool" [settings]="schoolSelectSettings"
                                              (onSelect)="onSchoolSelect($event)"
                                              (onDeSelect)="OnSchoolDeSelect($event)" styleClass="plan-select">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label class="select-label" jhiTranslate="timetableApp.plan.type-plan"></label>
                    <jhi-angular2-multiselect [data]="typePlanSelectOption" [(ngModel)]="selectedTypePlan" [settings]="typePlanSelectSettings"
                                              (onSelect)="onTypeSelect($event)" styleClass="plan-select"
                    >
                    </jhi-angular2-multiselect>

                </div>
                <div class="col-md-1"></div>
            </div>


            <div *ngIf="selectedSchool[0]">
                <div class="row plan-row-choose" *ngIf="selectedTypePlan[0].type === 'STUDENT'">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <label class="select-label" jhiTranslate="timetableApp.DivisionType.CLASS"></label>
                        <jhi-angular2-multiselect [data]="classSelectOption" [(ngModel)]="selectedClass" [settings]="classSelectSettings"
                                                  (onSelect)="onClassSelect($event)"
                                                  (onDeSelect)="OnClassDeSelect($event)" styleClass="plan-select">
                        </jhi-angular2-multiselect>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label class="select-label" jhiTranslate="timetableApp.DivisionType.SUBGROUP"></label>
                        <jhi-angular2-multiselect [data]="subgroupSelectOption" [(ngModel)]="selectedSubgroup" [settings]="subgroupSelectSettings"
                                                  (onSelect)="reloadTimetables()" (onSelectAll)="reloadTimetables()" (reloadTimetables)="reloadTimetables()"
                                                  (onDeSelect)="reloadTimetables()"
                                                  styleClass="plan-select">
                        </jhi-angular2-multiselect>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row plan-row-choose" *ngIf="selectedTypePlan[0].type === 'TEACHER'">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <label class="select-label" jhiTranslate="timetableApp.plan.type.TEACHER"></label>
                        <jhi-angular2-multiselect [data]="teacherSelectOption" [(ngModel)]="selectedTeacher" [settings]="teacherSelectSettings"
                                                  (onSelect)="reloadTimetables()"
                                                  (onDeSelect)="reloadTimetables()" styleClass="plan-select">
                        </jhi-angular2-multiselect>
                    </div>
                </div>

                <div class="row plan-row-choose" *ngIf="selectedTypePlan[0].type === 'PLACE'">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <label class="select-label" jhiTranslate="timetableApp.plan.type.PLACE"></label>
                        <jhi-angular2-multiselect [data]="placeSelectOption" [(ngModel)]="selectedPlace" [settings]="placeSelectSettings"
                                                  (onSelect)="reloadTimetables()"
                                                  (onDeSelect)="reloadTimetables()" styleClass="plan-select">
                        </jhi-angular2-multiselect>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="plan-container">
        <jhi-glass contentClass="plan">
            <div class="month-header" [ngStyle]="{'padding-left': firstColumnWidth +'%'}">
                <button class="plan-button" (click)="previousWeek()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                <button class="plan-button circle" (click)="currentWeek()">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </button>
                <button class="plan-button" (click)="nextWeek()">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                <span jhiTranslate="timetableApp.plan.month-with-year.{{currentMonday.getMonth() + 1}}" translateValues="{year: '{{ currentMonday.getFullYear() }}'}">{{currentMonday.getMonth()}}, {{currentMonday.getFullYear()}}</span>
            </div>
            <div id="plan-body-header">
                <div class="column column-first header-empty" [ngStyle]="{'width': firstColumnWidth +'%'}">
                    &nbsp;
                </div>
                <div class="column header" [ngStyle]="{'width': columnWidth + '%'}" *ngFor="let item of planColumns">
                    <div class="day-label">
                        <span>{{item.date.getDate()}}</span>
                    </div>
                    <div class="week-day-label" jhiTranslate="timetableApp.plan.week-day.{{item.date.getDay()}}">
                    </div>
                </div>
            </div>

            <div style="clear: both;"></div>


            <div class="column column-first" [ngStyle]="{'width': firstColumnWidth +'%'}">
                <div class="hour-label" *ngFor="let time of timeArray">
                    {{time.formattedTime}}
                </div>
            </div>
            <div class="column" [ngStyle]="{'width': columnWidth + '%'}" *ngFor="let planColumn of planColumns">
                <div class="hour" *ngFor="let time of timeArray">
                </div>
                <div class="event-container" *ngFor="let cell of planColumn.planCells" [ngStyle]="{'top': cell.startHeightPercent + '%', 'bottom': 100.0 - cell.endHeightPercent + '%', 'left': cell.startWidthPercent + '%', 'right': 100.0 - cell.endWidthPercent + '%'}">
                    <div class="event-blur-background"></div>
                    <jhi-timetable-popover [timetable]="cell.timetable" [canModifyTimetable]="canModifyTimetable" [timetableDate]="planColumn.date"></jhi-timetable-popover>
                </div>
            </div>
            <div style="clear: both;"></div>
        </jhi-glass>
    </div>


</div>
