
<div *ngIf="lesson">
    <h2><span jhiTranslate="timetableApp.lesson.detail.title">Lesson</span> {{lesson.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timetableApp.lesson.name">Name</span></dt>
        <dd>
            <span>{{lesson.name}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.lesson.startTime">Start Time</span></dt>
        <dd>
            <span>{{lesson.startTime}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.lesson.endTime">End Time</span></dt>
        <dd>
            <span>{{lesson.endTime}}</span>
        </dd>
        <dt><span jhiTranslate="timetableApp.lesson.divisionOwner">Division owner</span></dt>
        <dd>
            <div *ngIf="lesson.divisionOwnerId">
                <a [routerLink]="['/division', lesson.divisionOwnerId]">{{lesson.divisionOwnerName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lesson/'+ lesson.id + '/edit'} }]"
            replaceUrl="true"
            class="btn app-primary-button">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
