$primary-text-color: #212121;
$light-text-color: #FFFFFF;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$dark-primary-color: #1976D2;
$primary-color: #2196F3;
$light-primary-color: #BBDEFB;

$accent-color: rgb(192,178,131);
$accent-color-light: lighten( $accent-color, 20% );
$accent-color-dark: darken( $accent-color, 20% );
$accent-color-strong-dark: darken( $accent-color, 50% );

$color-accent-bright: rgb(200, 200, 200);
$good-color: green;

$dark-1-color-background: rgba(0, 0, 0, 1.0);
$dark-2-color-background: rgba(0, 0, 0, 0.8);
$dark-3-color-background: rgba(0, 0, 0, 0.6);
$dark-4-color-background: rgba(0, 0, 0, 0.4);
$dark-5-color-background: rgba(0, 0, 0, 0.2);

$accent-1-color-background: transparentize($accent-color, 0.0);
$accent-2-color-background: transparentize($accent-color, 0.2);
$accent-3-color-background: transparentize($accent-color, 0.4);
$accent-4-color-background: transparentize($accent-color, 0.6);
$accent-5-color-background: transparentize($accent-color, 0.8);

$light-1-color-background: transparentize($light-text-color, 0.0);
$light-2-color-background: transparentize($light-text-color, 0.2);
$light-3-color-background: transparentize($light-text-color, 0.4);
$light-4-color-background: transparentize($light-text-color, 0.6);
$light-5-color-background: transparentize($light-text-color, 0.8);

$hour-height: 60px;
$blur-value: 15px;
$plan-background: url('https://images.pexels.com/photos/159657/paint-notebook-brush-pencil-159657.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') no-repeat center center fixed;
//$plan-background: url('https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') no-repeat center center fixed;
