@import 'bootstrap-variables';
@import 'timetable-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body, h1, h2, h3, h4 {
    font-weight: 300;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
input.ng-valid[required], .ng-valid.required {
    //border-left: 5px solid $brand-success;
}

input.ng-invalid:not(form) {
    border-left: 5px solid $brand-danger;
}

.ng-invalid:not(form) {

    .c-btn {
        border-left: 5px solid $brand-danger !important;
    }

}

.ng-valid[required], .ng-valid.required {

    .c-btn {
        //border-left: 5px solid $brand-success !important;
    }

}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
    background-color: transparent;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.inner-block {
    padding-left: 30px;
}

.inputed {
    margin-bottom: 15px;
}

//mine

// ================================================================
// Home
// ================================================================
.home-view-body {
    color: $light-text-color;
    a {
        color: $light-text-color;
    }
    .home-container {
        position: relative;
        text-align: center;
        background: $dark-3-color-background;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        margin: 100px auto auto;
    }

    .sign-elements {
        width: 20%;
        margin: 70px auto auto;

        .sign-element-container {
            position: relative;
            float: left;
            width: 40%;
        }

        .register-element-container {
            position: relative;
            float: right;
            width: 40%;
        }
    }

}

// ================================================================
// Plan
// ================================================================

.plan-row-choose {
    margin-bottom: 25px;
}

.plan-container {
    position: relative;
    width: 90%;
    color: $light-text-color;
    margin: auto;
}

.plan-selectors {
    min-height: 250px;
}

.plan {
    background: $dark-5-color-background;
    -moz-box-shadow: 0 0 5px 5px $dark-5-color-background;
    -webkit-box-shadow: 0 0 5px 5px $dark-5-color-background;
    box-shadow: 0 0 5px 5px $dark-5-color-background;
    .plan-button {
        color: $light-text-color;
        background: transparent;
        border: none;
        border-radius: 50%;
    }

    .day-label {
        font-size: 3em;
        margin-right: 5px;
    }
    .week-day-label {
        font-size: 2em;
        margin-right: 5px;
    }

    .header {
        height: $hour-height * 2.0 !important;
    }

    .header-empty {
        height: $hour-height * 2.0 !important;
    }

    .column {
        float: left;
        height: 100%;
        text-align: center;
        position: relative;

        .column-first {
            width: 10%;
        }

        .event-container {
            position: absolute;
            left: 0;
            right: 5%;
        }

        .event-blur-background {
            background: $plan-background;
            background-size: cover;
            -webkit-filter: blur($blur-value);
            filter: blur($blur-value);
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            position: absolute;
        }

        .event {
            background-color: $accent-3-color-background;
            border-left: 5px solid $light-text-color;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            margin-right: 5px;
        }
    }

    .hour-label {
        height: $hour-height;
        top: -12px;
        position: relative;
    }

    .hour {
        margin: auto;
        height: $hour-height;
        border: 1px solid $color-accent-bright;
    }

    .month-header {
        font-size: 4em;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;

        .plan-buttons-container {
            position: absolute;
        }

        .plan-button {
            color: $light-text-color;
            background: transparent;
            border: none;
            border-radius: 50%;
            font-weight: lighter;
            font-size: 70%;
            position: relative;
            top: -7px;
            margin: -5px;
        }

        .plan-button.circle {
            font-size: 50%;
            top: -10px;
        }
        .plan-button:hover {
            cursor: pointer;
        }
    }

}

.plan-view-body {
    color: $light-text-color;
    background: $plan-background;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
}

.plan-select {

    .c-btn {
        background: $dark-4-color-background;
        color: $light-text-color;
    }

    .c-btn.disabled {
        background: rgba(255, 0, 0, 0.2);
    }

    .c-label {
        background: rgba(0, 0, 0, 0.0);
    }

    .select-container {
        position: relative;
    }

    .select-blur {
        background: $plan-background;
        background-size: cover;
        -webkit-filter: blur($blur-value);
        filter: blur($blur-value);
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .list-area {
        background: transparent;
        color: $light-text-color;
    }
    .list-filter {
        .fa {
            color: $accent-color !important;
        }
    }

    .list-filter input {
        color: $light-text-color;
        background: transparent;
    }

    .arrow-up {
        background: transparent;
    }

    .dropdown-list {
        ul {
            li {
                color: $light-text-color;
            }
            li:hover {
                background: rgba(255, 255, 255, 0.25) !important;

            }
        }
    }

    .pure-checkbox input[type="checkbox"] + label {
        color: $light-text-color !important;
    }

    .pure-checkbox input[type="checkbox"] + label:before {
        border: 2px solid $accent-color !important;
    }

    .pure-checkbox input[type="checkbox"]:checked + label:before {
        background: transparent !important;
    }

    .pure-checkbox input[type="checkbox"] + label:after {
        border-color: $accent-color !important;
    }

    .c-list .c-token {
        background: transparent !important;
    }

    .list-area-container {
        position: relative;
        background: rgba(0, 0, 0, 0.25);
    }

    .list-area-blur {
        background: $plan-background;
        background-size: cover;
        -webkit-filter: blur($blur-value);
        filter: blur($blur-value);
        right: -10px;
        top: -10px;
        bottom: -10px;
        left: -10px;
        position: absolute;
        z-index: -1;
    }
}

.select-label {
    font-size: 2em;
}

// ================================================================
// Override
// ================================================================
body {
    background: $plan-background;
    background-size: cover;
}

a {
    color: $light-text-color;
}

a:hover {
    color: $light-text-color;
}

// ================================================================
// Glass
// ================================================================
.glass-button {
    color: $light-text-color;
    background: $dark-3-color-background;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
    border: none;
}

.glass-button:hover {
    cursor: pointer;
    background: $dark-1-color-background;
}

.glass-input.form-control {
    background: $accent-2-color-background;
    color: $light-text-color;
}

.glass-input-container {
    background: transparent;
    color: $light-text-color;
}

.popover {
    background-color: transparent;
    min-width: 400px;
    border: none;
}

.popover-body {
    padding: 0;
}

//.popover-content {
//    background-color: rgba(0,255,255, 0.2);
//}
//
//.popover-title a {
//    color: #FFFFFF;
//}
//
//.popover-title button {
//    float: right;
//    position: relative;
//    background-color: transparent; }
//
//.popover-title {
//    margin: -10px -15px 10px -15px;
//    background-color: rgba(255,0,131, 0.2);
//    color: #FFFFFF; }

// ================================================================
// Entity card
// ================================================================
.edit-entity-card {
    background: transparentize($light-text-color, 0.2);
    color: $accent-color-strong-dark;
    input, textarea, select {
        background: transparentize($accent-color-strong-light, 0.2);
    }

    input:focus, textarea:focus, select:focus {
        background: $accent-color-strong-light;
    }

    a {
        color: $accent-color-strong-dark;
        font-weight: normal;
    }

    .card {
        background-color: transparent;

    }

    .card-body {
        padding: 0.5rem;
    }

}

.edit-entity-card-select {
    .c-btn {
        background: transparentize($accent-color-strong-light, 0.2);
        color: $accent-color-strong-dark;
    }

    .c-btn.disabled {
        background: rgba(255, 0, 0, 0.2);
    }

    .c-label {
        background: rgba(0, 0, 0, 0.0);
        color: $accent-color-strong-dark;
    }

    .select-container {
        position: relative;
    }

    .select-blur {
        background: $plan-background;
        background-size: cover;
        -webkit-filter: blur($blur-value);
        filter: blur($blur-value);
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .list-area {
        background: $accent-color-strong-light;
        color: $light-text-color;
    }
    .list-filter {
        .fa {
            color: $accent-color !important;
        }
    }

    .list-filter input {
        color: $accent-color-strong-dark;
    }

    .arrow-up {
        background: transparent;
    }

    .dropdown-list {
        ul {
            li {

            }
            li:hover {
                background: transparentize($accent-color-strong-light, 0.2);
            }
        }
    }

    .pure-checkbox input[type="checkbox"] + label {
        color: $accent-color-strong-dark !important;
    }

    .pure-checkbox input[type="checkbox"] + label:before {
        border: 2px solid $accent-color-dark !important;
    }

    .pure-checkbox input[type="checkbox"]:checked + label:before {
        background: transparent !important;
    }

    .pure-checkbox input[type="checkbox"] + label:after {
        border-color: $accent-color-dark !important;
    }

    .c-list .c-token {
        background: transparent !important;
    }

    .list-area-container {
        position: relative;
    }

    .list-area-blur {
        background: $plan-background;
        background-size: cover;
        -webkit-filter: blur($blur-value);
        filter: blur($blur-value);
        right: -10px;
        top: -10px;
        bottom: -10px;
        left: -10px;
        position: absolute;
        z-index: -1;
    }
}

// ================================================================
// Animation
// ================================================================
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: $light-text-color;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $light-text-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

// ================================================================
// Checkbox
// ================================================================
.pure-checkbox input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.pure-checkbox input[type="checkbox"]:focus + label:before,
.pure-checkbox input[type="checkbox"]:hover + label:before {
    border-color: $accent-color-dark;
    background-color: transparent !important;
}

.pure-checkbox input[type="checkbox"]:active + label:before {
    transition-duration: 0s;
}

.pure-checkbox input[type="checkbox"] + label {
    position: relative;
    padding-left: 2em;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    margin: 0px;
    color: $accent-color-strong-dark !important;
    font-weight: 300;
}

.pure-checkbox input[type="checkbox"] + label:before {
    box-sizing: content-box;
    content: '';
    color: $accent-color-dark;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid $accent-color-dark !important;
    text-align: center;
    transition: all 0.4s ease;
}

.pure-checkbox input[type="checkbox"] + label:after {
    box-sizing: content-box;
    content: '';
    background-color: $accent-color-dark;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
}

.pure-checkbox input[type="checkbox"]:disabled + label:before {
    border-color: transparent !important;
}

.pure-checkbox input[type="checkbox"]:disabled:focus + label:before
.pure-checkbox input[type="checkbox"]:disabled:hover + label:before {
    background-color: inherit;
}

.pure-checkbox input[type="checkbox"]:disabled:checked + label:before {
    background-color: transparent !important;
}

.pure-checkbox input[type="checkbox"] + label:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: $accent-color-dark !important;
    border-width: 0 0 3px 3px;
    border-image: none;
    transform: rotate(-45deg) scale(0);
}

.pure-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    transform: rotate(-45deg) scale(1);
    transition: transform 200ms ease-out;
}

.pure-checkbox input[type="radio"]:checked + label:before {
    background-color: white;
}

.pure-checkbox input[type="radio"]:checked + label:after {
    transform: scale(1);
}

.pure-checkbox input[type="radio"] + label:before {
    border-radius: 50%;
}

.pure-checkbox input[type="checkbox"]:checked + label:before {
    background: transparent !important;
}

.pure-checkbox input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg) scale(1);
}

// ================================================================
// Checkbox
// ================================================================
button.app-primary-button {
    background: $accent-color-dark;
    border-color: $accent-color-dark;
    color: $light-text-color;
}

button.app-primary-button:hover {
    background: $accent-color-dark-hover;
    border-color: $accent-color-dark-hover;
    cursor: pointer;
}

button.app-primary-button:focus {
    box-shadow: 0 0 0 2px $accent-color;
}


// ================================================================
// Other
// ================================================================
.full-page-popup {
    width: 90%;
    opacity: 0.9;
    margin: auto;
}

.modal-content {
    background: transparent;
}


