@import 'bootstrap-variables';
@import 'timetable-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body, h1, h2, h3, h4 {
    font-weight: 300;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
    background-color: transparent;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.inner-block {
    padding-left: 30px;
}

.inputed {
    margin-bottom: 15px;
}

//mine

// ================================================================
// Home
// ================================================================
.home-view-body {
    color: $light-text-color;
    a {
        color: $light-text-color;
    }
    .home-container {
        position: relative;
        text-align: center;
        background: $dark-3-color-background;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        margin: 100px auto auto;
    }

    .sign-elements {
        width: 20%;
        margin: 70px auto auto;

        .sign-element-container {
            position: relative;
            float: left;
            width: 40%;
        }

        .register-element-container {
            position: relative;
            float: right;
            width: 40%;
        }
    }

}

// ================================================================
// Plan
// ================================================================

.plan-row-choose {
    margin-bottom: 25px;
}

.plan-container {
    position: relative;
    width: 90%;
    color: $light-text-color;
    margin: auto;
}

.plan-selectors {
    min-height: 250px;
}

.plan {
    background: $dark-5-color-background;
    -moz-box-shadow: 0 0 5px 5px $dark-5-color-background;
    -webkit-box-shadow: 0 0 5px 5px $dark-5-color-background;
    box-shadow: 0 0 5px 5px $dark-5-color-background;
    .plan-button {
        color: $light-text-color;
        background: transparent;
        border: none;
        border-radius: 50%;
    }

    .day-label {
        font-size: 3em;
        margin-right: 5px;
    }
    .week-day-label {
        font-size: 2em;
        margin-right: 5px;
    }

    .header {
        height: $hour-height * 2.0 !important;
    }

    .header-empty {
        height: $hour-height * 2.0 !important;
    }

    .column {
        float: left;
        height: 100%;
        text-align: center;
        position: relative;

        .column-first {
            width: 10%;
        }

        .event-container {
            position: absolute;
            left: 0;
            right: 5%;
        }

        .event-blur-background {
            background: $plan-background;
            background-size: cover;
            -webkit-filter: blur($blur-value);
            filter: blur($blur-value);
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            position: absolute;
        }

        .event {
            background-color: transparentize($accent-color, .3);
            border-left: 5px solid $light-text-color;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            margin-right: 5px;
        }
    }

    .hour-label {
        height: $hour-height;
        top: -12px;
        position: relative;
    }

    .hour {
        margin: auto;
        height: $hour-height;
        border: 1px solid $color-accent-bright;
    }

    .month-header {
        font-size: 4em;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;

        .plan-buttons-container {
            position: absolute;
        }

        .plan-button {
            color: $light-text-color;
            background: transparent;
            border: none;
            border-radius: 50%;
            font-weight: lighter;
            font-size: 70%;
            position: relative;
            top: -7px;
            margin: -5px;
        }

        .plan-button.circle {
            font-size: 50%;
            top: -10px;
        }
        .plan-button:hover {
            cursor: pointer;
        }
    }



}

.plan-view-body {
    color: $light-text-color;
    background: $plan-background;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
}

.plan-select {

    .c-btn {
        background: $dark-4-color-background;
        color: $light-text-color;
    }

    .c-btn.disabled {
        background: rgba(255, 0, 0, 0.2);
    }

    .c-label {
        background: rgba(0, 0, 0, 0.0);
    }

    .select-container {
        position: relative;
    }

    .select-blur {
        background: $plan-background;
        background-size: cover;
        -webkit-filter: blur($blur-value);
        filter: blur($blur-value);
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .list-area {
        background: transparent;
        color: $light-text-color;
    }
    .list-filter {
        .fa {
            color:  $accent-color !important;
        }
    }

    .list-filter input {
        color: $light-text-color;
        background: transparent;
    }

    .arrow-up {
        background: transparent;
    }

    .dropdown-list {
        ul {
            li {
                color: $light-text-color;
            }
            li:hover {
                background: rgba(255, 255, 255, 0.25) !important;

            }
        }
    }

    .pure-checkbox input[type="checkbox"] + label {
        color: $light-text-color !important;
    }

    .pure-checkbox input[type="checkbox"] + label:before {
        border: 2px solid $accent-color !important;
    }

    .pure-checkbox input[type="checkbox"]:checked + label:before {
        background: $accent-color !important;
    }

    .c-list .c-token {
        background: transparent !important;
    }

    .list-area-container {
        position: relative;
        background: rgba(0, 0, 0, 0.25);
    }

    .list-area-blur {
        background: $plan-background;
        background-size: cover;
        -webkit-filter: blur($blur-value);
        filter: blur($blur-value);
        right: -10px;
        top: -10px;
        bottom: -10px;
        left: -10px;
        position: absolute;
        z-index: -1;
    }

}

.select-label {
    font-size: 2em;
}


// ================================================================
// Override
// ================================================================
body {
    background: $plan-background;
    background-size: cover;
}

a {
    color: $light-text-color;
}

a:hover {
    color: $light-text-color;
}


// ================================================================
// Glass
// ================================================================
.glass-button {
    color: $light-text-color;
    background: $dark-3-color-background;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
    border: none;
}
.glass-button:hover{
    cursor: pointer;
    background: $dark-1-color-background;
}

.glass-input.form-control {
    background: $accent-2-color-background;
    color: $light-text-color;
}

.glass-input-container {
    background: transparent;
    color: $light-text-color;
}


